<STYLE TYPE="text/css">
.top{
margin:0;
padding:0;
font-family: "ºÚÌå";
font-size: 30px;
font-weight:normal;
color: #FFF000;
line-height:65px;
float:left;
width:100px;
text-align:center;
margin-left:35%;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
</STYLE>